<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>Face Scan</title>
    <script defer src="/static/js/face-api.min.js"></script>
    <script defer src="/static/js/face_scan.js"></script>
  </head>
  <body>
    <center>
      <h1><a href="{% url 'home' %}">Back </a></h1>
      <h1>Face Scan</h1>
      <video id="video" autoplay></video>
    </center>
  </body>
</html>
